<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <p class="lead">You've discovered my secret!</p>
    <hr>

  </div>
</div>

<%- include('partials/footer') %>